* {
  box-sizing: border-box;
}

mat-card {
  margin-top: 15vm !important;
}

.example-form {
  min-width: 150px !important;
  max-width: 500px !important;
  width: 100% !important;
}

.example-full-width {
  width: 100% !important;
}

app-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
