<mat-card>
  <mat-card-title>Données personnelles</mat-card-title>
  <mat-card-content>
    <br><p>Les informations recueillies sur ce site sont enregistrées dans un fichier informatisé par Virginie Sans (virginie.sans@irisa.fr).</p>

    <br><p>La base légale du traitement est votre consentement.

    Les données marquées par un astérisque dans le questionnaire doivent obligatoirement être fournies. Dans le cas contraire, les services de SocialPet ne pourront pas être utilisés.

    Les données collectées ne seront pas communiquées à un quelconque destinataire.</p>

    <br><p>Elles sont conservées dans notre base de données pendant une durée de 3 ans à compter de leur date de soumission via ce formulaire.

    Vous pouvez accéder aux données vous concernant, demander leur rectification, effacement ou exercer votre droit à la limitation.</p>

    <br><p>Notez que vous pouvez effacer vous-mêmes

    les photos que vous nous avez soumis, directement via ce site, page RGPD. En supprimant vos images, vous acceptez que l'algorithme de SocialPet ne prenne plus en compte votre animal dans ses recherches.</p>

    <br><p>Vous pouvez retirer à tout moment votre consentement au traitement de vos données ; Vous pouvez également vous opposer au traitement de vos données ; Vous pouvez également exercer votre droit à la portabilité de vos données)

    Consultez le site cnil.fr pour plus d’informations sur vos droits.</p>

    <br><p>Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, vous pouvez contacter Virginie Sans via l'adresse mail suivante : virginie.sans@irisa.fr.

    Si vous estimez, après nous avoir contactés, que vos droits « Informatique et Libertés » ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL. </p>

    <a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees">Article officiel de la CNIL concernant le Réglement Européen pour la Protection des Données.</a>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="deleteUserImages()">Supprimer mes images</button>
    <button mat-raised-button color="warn" (click)="deleteUserAccount()">Supprimer mon compte</button>
  </mat-card-actions>
</mat-card>
