<head>
  <base href="/">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div class="flex">
  <mat-toolbar color="primary">
    Social Pet
    <button mat-button class="connectButton" [routerLink]="['/connect']" skipLocationChange routerLinkActive="active">Se connecter</button>
  </mat-toolbar>
  <mat-sidenav-container class="social-pet-body">
    <mat-sidenav class="example-container" mode="side" opened disableClose role="navigation">
      <mat-list>
        <mat-list-item><button mat-button color="primary" [routerLink]="['']" skipLocationChange routerLinkActive="active">Accueil</button></mat-list-item>
        <mat-list-item><button mat-button color="primary" [routerLink]="['/search']" skipLocationChange routerLinkActive="active">J'ai trouvé un animal</button></mat-list-item>
        <mat-list-item><button mat-button color="primary" [routerLink]="['/submit']" skipLocationChange routerLinkActive="active">Je souhaite enregistrer mon animal</button></mat-list-item>
        <mat-list-item><button mat-button color="primary" [routerLink]="['/about']" skipLocationChange routerLinkActive="active">Qui sommes-nous ?</button></mat-list-item>
        <mat-list-item><button mat-button color="primary" [routerLink]="['/legal']" skipLocationChange routerLinkActive="active">Mentions légales</button></mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class="social-pet-content" role="main">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
