<mat-card>
  <mat-card-title class="page-title">
    Bienvenue sur {{ title }}!
  </mat-card-title>
  <mat-card-content>
    <br><br>
    <h2>Votre animal s'est enfui ? Il a été volé ? Il est blessé ou décédé ? </h2>
    <h2>Il peut être très long d'obtenir des réponses à ces questions...</h2>
    <h2>La société Atlantice vous propose gratuitement le logiciel SocialPet pour vous aider dans vos recherches !</h2>
    <h2>
      Voici les étapes à suivre pour enregistrer votre animal, et ainsi pouvoir être notifié s'il est perdu et retrouvé par un de nos membres !
    </h2>

    <br>

    <img width="100%" alt="Planning" src="assets/planning.jpg">
  </mat-card-content>
</mat-card>
