/* You can add global styles to this file, and also import other style files */

html, body { margin: 0; height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
  margin: 3rem;
}

a {
  color: black;
  text-decoration: none;
}

li {
  line-height: 2rem;
}

p, li, a, span:not(.mat-button-wrapper), input {
  font-size: 20px;
}

mat-card-title {
  color: #1f3d4c;
  text-align: center;
  font-weight: bolder;
}

.material-icons {
  color: white !important;
}
