<mat-toolbar color="primary">
  <img src="assets/socialPetLogo.png" height="100%">
  <button mat-raised-button color="primary" *ngIf="!userIsConnected" mat-button class="connectButton" [routerLink]="['/login']" skipLocationChange routerLinkActive="active">
    <span class="material-icons">power_settings_new</span>
  </button>
  <button mat-raised-button color="primary" *ngIf="userIsConnected" mat-button class="connectButton" (click)="logOut()">
    <span class="material-icons">how_to_reg</span>
  </button>
</mat-toolbar>
