mat-toolbar {
  height: 10vh;
  padding: 0px !important;
}

.connectButton {
  float: right;
  position: absolute;
  right: 0;
  width: 100px;
  height: 120px;
  font-weight: bolder;
}

mat-toolbar {
  background-image: url("../../../assets/banner3.jpg") !important;
}
