.example-form {
  min-width: 150px !important;
  width: 100% !important;
}

.example-full-width {
  width: 100% !important;
}

.specie-checkbox {
  margin-right: 1rem;
}

.specie-checkbox-image {
  width: 5vw;
}

mat-card {
  align-content: center;
}

.mat-card-image {
  max-width: 200px;
}
