<mat-grid-list cols="1" role="list" [rowHeight]="500">
  <mat-grid-tile role="listitem">
    <mat-card>
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-card-content>
        <p>
        Nous sommes étudiants en M2 Miage à L'université de Rennes 1 et notre travail est encadré par Virginie SANS de l'équipe DRUID de l'IRISA. Vous pouvez obtenir plus d'informations en envoyant un mail : virginie.sans(at)irisa.fr
        </p>

        <p>
        Le but est de créer une plateforme communautaire gratuite pour regrouper toutes les annonces d'animaux : vus, perdus, trouvés, ... afin que les propriétaires puissent retrouver plus rapidement leur animal. Voilà quelques réflexions :
        </p>

        <ul>
          <li>
            un animal non pucé qui arrive dans un refuge peut avoir du mal à retrouver son propriétaire surtout si il a changé de département ou de région
          </li>
          <li>
            votre cheval a cassé ses clotûres ou votre chien s'est enfui ? Le plus simple dès qu'une personne a trouvé ou vu votre animal serait de recevoir une notification qu'un animal ressemble au votre, plutot que de s'en apercevoir une fois rentré chez soi
          </li>
          <li>
            lorsque vous perdez votre animal, il a pu etre recueilli par un refuge, une asso, un particulier, la plupart laisse une annonce sur des groupes facebook où vous n'êtes pas forcément abonnés, ou l'algorithme de facebook ne vous présente pas forcèment l'annonce sur votre profil
          </li>
        </ul>

        <p>Voila ce qui motive le but de cette plateforme qui permettrait aux propriétaires de déposer un profil pour leur animal et permettre ainsi via de la reconnaissance faciale pour animaux d'identifier plus rapidement un animal lors du dépot d'une annonce. Ainsi, ce projet a besoin de données pour fonctionner et c'est là que vous pouvez intervenir et nous aider à monter ce projet. Nous allons devoir développer cette plateforme et surtout créer un algorithme efficace pour l'identification des animaux et pour cela, il nous faut des photos d'animaux, des photos de votre animal pour permettre à l'algorithme un meilleur apprentissage.</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
