<mat-grid-list cols="1" role="list" [rowHeight]="500">
  <mat-grid-tile role="listitem">
    <mat-card>
      <mat-card-title class="page-title">{{ title }}</mat-card-title><br><br>
      <mat-card-content>
        <p>
        Nous sommes étudiants en M2 Miage à l'université de Rennes 1 et notre travail est encadré par Virginie SANS de l'équipe DRUID de l'IRISA. Vous pouvez obtenir plus d'informations en envoyant un mail à cette adresse: <a href="mailto:virginie.sans@irisa.fr">virginie.sans@irisa.fr</a>
        </p>
        <br>
        <p>
        Cette plateforme communautaire gratuite, qui regroupe toutes les annonces d'animaux (refuges, réseaux sociaux, associations,...), permet aux propriétaires de retrouver plus rapidement leur animal.<br><br> Voilà quelques cas d'usages :
        </p>
        <br>
        <ul>
          <li>
            Un animal non pucé arrive dans un refuge et son propriétaire se situe dans un autre département / une autre région.
          </li>
          <li>
            Votre animal s'est enfui, enregistrez-le sur le site et vous recevrez une notification dès qu'un animal similaire sera retrouvé !
          </li>
        </ul>
        <br>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
