<mat-grid-list cols="1" role="list" [rowHeight]="500">
  <mat-grid-tile role="listitem">
    <mat-card>
      <h1>
        {{title}}
      </h1>
      <p>
        Ce site est le résultat d'un projet de fin d'année réalisé par des étudiants de M2 MIAGE.
      </p>

      <h3>Général</h3>
      <ul>
        <li>
          Dénomination ou raison sociale : ISTIC
        </li>
        <li>
          Siège social : 263 Avenue Général Leclerc, 35000 Rennes
        </li>
        <li>
          Numéro de téléphone : 02 23 23 39 00
        </li>
        <li>
          Responsables de de la rédaction du site : Mathieu LE HAN, Margaux Boullé, Yann KERVELLA, Yann ATTOUBE, Hippolyte Damand.
        </li>
        <li>
          Directeur de la publication : Virginie SANS.
        </li>
      </ul>

      <h3>Hébergeur</h3>
      <ul>
        <li>
          <p>
            PHPNET FRANCE
            97-97 bis rue du général Mangin
            38100 GRENOBLE (France)
            Code APE : 6202 A
            N° SIRET 451878128 00037
            N° TVA intracommunautaire : FR32451878128
          </p>
        </li>
      </ul>

      <h4>Informatique et libertés</h4>
      <ul>
        <li>
          <p>Conformément à l'art.34 de la loi "Informatique et libertés", vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent.</p>
        </li>
        <li>
          <p>Si vous souhaitez pouvez accéder à vos données personnelles, contactez-nous par le biais des coordonnées ci-dessous :</p>
          <p>
            ISTIC
            263 Avenue du Général Leclerc
            35000 RENNES
            Mail : virginie.sans@irisa.fr
            Tel : 02 23 23 39 00
          </p>
        </li>
      </ul>

      <p>Vous restez propriétaires de vos photos, l'usage des photos est strictement réservé au cadre du projet à des fins de développement. Vous pouvez obtenir plus d'informations en envoyant un mail : virginie.sans(at)irisa.fr.</p>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
