 <mat-card>
      <mat-card-title>{{ title }}</mat-card-title><br>
      <mat-card-content>
        <p>
          Ce site est le résultat d'un projet de fin d'année réalisé par des étudiants de M2 MIAGE.
        </p>

        <h2>Général</h2>
        <ul>
          <li>
            Dénomination ou raison sociale : ISTIC
          </li>
          <li>
            Siège social : 263 Avenue Général Leclerc, 35000 Rennes
          </li>
          <li>
            Numéro de téléphone : 02 23 23 39 00
          </li>
          <li>
            Responsables de de la rédaction du site : Mathieu LE HAN, Margaux BOULLÉ, Yann KERVELLA, Yann ATTOUBE, Hippolyte DAMAND, Yohann RIALET.
          </li>
          <li>
            Directeur de la publication : Virginie SANS.
          </li>
        </ul>

        <h2>Hébergeur</h2>
        <ul>
          <li>
            <p>
              PHPNET FRANCE
              97-97 bis rue du général Mangin
              38100 GRENOBLE (France)
              Code APE : 6202 A
              N° SIRET 451878128 00037
              N° TVA intracommunautaire : FR32451878128
            </p>
          </li>
        </ul>

        <h2>Loi Informatique et Libertés</h2>
        <ul>
          <li>
            <p>Conformément à l'art.34 de la loi "Informatique et Libertés", vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent.</p>
          </li>
          <li>
            <p>Si vous souhaitez accéder à vos données personnelles, contactez-nous par le biais des coordonnées ci-dessous :</p>
            <p>
              ISTIC
              263 Avenue du Général Leclerc
              35000 RENNES
              Mail : <a href="mailto:virginie.sans@irisa.fr">virginie.sans@irisa.fr</a>
              Tel : 02 23 23 39 00
            </p>
          </li>
        </ul>

        <br><p>Vous restez propriétaires de vos photos, l'usage des photos est strictement réservé au cadre du projet à des fins de développement. Vous pouvez obtenir plus d'informations en envoyant un mail :  <a href="mailto:virginie.sans@irisa.fr">virginie.sans@irisa.fr</a>.</p>
      </mat-card-content>
 </mat-card>
